.files-list{

    display: flex;
     flex-direction: column; 
    width: 100%;
   
    gap:20px
}

.file{


    background-color: #0a3d62;
    color: white;
    padding: 10px;
    min-width: 200px;

    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    border-radius: 10px;
    

}

.files{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.file-title{

    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.file-title:hover{
    color: yellow;
}

.files-list a{
    text-decoration: none;
    color: black;
}

.file-action{

    font-size: 30px;
    cursor: pointer;
    display: flex;
    gap:30px;

}

.edit:hover{
    color: yellow;
}

.delete:hover{
    color: yellow;
}


.btn-group{

    align-self: flex-end
}

.btn{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    background-color: #34495e;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.btn-group a{
    color: white;
}

  /* ✅ This makes the dragged item disappear from the original place */
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  /* ✅ Optional: Smooth Dragging Effect */
  .cdk-drag-preview {
    /* background: lightcoral; */
    /* border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); */
    transform: scale(1.1);
  }

  .file a{
    text-decoration: none;
  }