<h2 mat-dialog-title class="dialog-title">Set Column Widths</h2>

<div mat-dialog-content class="dialog-content">
  <mat-form-field class="full-width">
    <mat-label>Image Width (%)</mat-label>
    <input matInput type="number" [(ngModel)]="imageWidth" min="1" max="99" />
  </mat-form-field>

  <mat-form-field  class="full-width">
    <mat-label>Text Width (%)</mat-label>
    <input matInput type="number" [(ngModel)]="textWidth" min="1" max="99" />
  </mat-form-field>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">OK</button>
</div>
