.contain{

    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100% ;
}

.actions{
    width: 60%;
 
}
/* .btn{

    color: white;
    background-color: #34495e;
} */

.btn{
    margin-top: 10px;
}
.spin-hold {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

